@{
    ViewData["Title"] = "Home Page";
}

<article>
    <section>
        <div class="card text-white bg-dark float-left w-100 mb-3 shadow">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/MainSelfie.jpg" class="img-fluid rounded-start" alt="" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Who am I?</h5>
                        <p class="card-text">
                            My name is Tyrone Long. I'm a software developer that has been at it since 2018. 
                            My hope is that you'll find this website and, should you want to after working your way through,
                            be easily able to get in touch with me.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-black bg-white float-right w-100 shadow">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">What do I do?</h5>
                        <p class="card-text">
                            I'm a mainly C# developer and am currently busy studying part-time with Unisa while working
                            for Signature Business Soltions as a Software Developer. Currently, my work involves C# backends
                            along with SQL Databasing and Web or WPF front ends. When I say C# backends, I mean all C# based technology.
                            These include APIs, Windows Services and Web Services along with .NET 5.0 and .NET Framework.
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <img src="~/images/CSharp_Image.png" class="img-fluid rounded-start" alt="" />
                </div>
            </div>
        </div>
    </section>
</article>